@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>FixMeet</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to FixMeet WebSite</h2>
        <p>
            FixMeet is an app that allows a customer to mediate between a service providers in a specific category who can give him the service in the short term
        </p>
    </div>
</div>